*{
    margin:0;
}
body{
    background-color:black;
}
h3{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
h3{
    color: orangered;
}
p{
    color: white;
}
li a:hover {
    background-color:orangered;
    border-radius:10px;
  }